
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<div id="content" class="display_always">
    <div class="about">
        <section class="simple-signon">
	        <h1 class="title center"><%- gettext('Join a major password reset.') %></h1>
			<h2 class="center"><%- gettext('Mozilla Persona turns email addresses into master keys that allow users to sign into supporting websites in as few as two clicks.') %></h2>
        </section>

        <section class="secondary">
            <article class="blurb third first">
                <h4><%- gettext('Easy to implement.') %></h4>
                <p><%- gettext('You can be up and running in a day, and adding Persona to user-facing websites can take as little as 15 minutes each. This ain’t SAML.') %></p>
            </article>
            <article class="blurb third">
                <h4><%- gettext('Improved security, everywhere') %></h4>
				<p><%- gettext('As an Identity Provider, you control how your users authenticate, no matter where they go on the Web. Add two factor authentication once, and your users are instantly more secure on every Persona-enabled website.') %></p>
            </article>
            <article class="blurb third">
                <h4><%- gettext('Guard against reused passwords') %></h4>
                <p><%- gettext('With Persona, websites never see nor store users’ authentication credentials, which protects you and your users from collateral damage when a third party is compromised.') %></p>
            </article>
        </section>

        <section class="secondary">
            <article class="blurb third first">
                <h4><%- gettext('It works everywhere.') %></h4>
	            <p class="center"><img src="<%- cachify('/static/i/browser-icons.png') %>" alt="<%- gettext('Browser icons') %>"></p>
                <p><%- gettext('The Web is bigger than any one browser, social network, or email provider.') %></p>
                <p><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Persona/Browser_compatibility">Supported browsers / devices</a></p>
            </article>
            <article class="blurb third">
                <h4><%- gettext('Today a service, tomorrow a standard') %></h4>
				<p><%- gettext('Currently Mozilla supports Persona by providing the supporting infrastructure, but soon it will be available natively in products like Firefox and other browser add-ons. We are working towards making it a standard that can operate independently of Mozilla services, leveraging existing standards like HTTP, JSON and JWT. Until that time, Persona is just a Javascript call away.') %></p>
            </article>
            <article class="blurb third">
                <h4><%- gettext('Mozilla to the rescue') %></h4>
                <p><%- gettext('Mozilla’s mission is to promote openness, innovation &amp; opportunity on the Web. And just like our flagship product Firefox, Persona champions you – your security, privacy, and the quality of your online life.') %></p>
            </article>
        </section>

    </div><!-- #dashboard -->
</div>

